body {
    background-color: #333;
    color: #f5f5f5;
    font-family: sans-serif;
    margin: 0;
    position: relative;
    min-height: 100vh;
    padding-bottom: 96px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
body * {
    box-sizing: border-box;
}

header {
    .header-text {
        max-width: 700px;
        margin: auto;
        padding: 24px 0;
    }

    h1 {
        margin: 0px;
        .smaller {
            font-size: 14px;
            font-weight: 400;
        }
    }

    p {
        margin: 0;
        margin-top: 8px;
        font-style: italic;
    }
}

article {
    background-color: #fff;
    color: #333;
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin: 32px auto 0;
    max-width: 700px;
    padding-bottom: 32px;

    section {
      border-bottom: 1px solid #e5e5e5;

      > h4:first-child,
      > p:first-child {
          margin-top: 0;
      }
      > p:last-child {
        margin-bottom: 0;
      }
    }

    h3 {
        padding: 24px;
        margin: 0px;
        border-bottom: 1px solid #e5e5e5;
    }

    .info {
        padding-bottom: 36px;
    }

    li {
        padding-top: 36px;
    }

    .padded {
        padding: 0 24px;
    }

    .local-explainer,
    .joining {
        padding: 24px;
    }

    a {
        transition: color .2s cubic-bezier(.3,0,.5,1);

        &,
        &:focus,
        &:active {
            color: #c92a60;
        }

        &:hover {
            color: #9d2a60;
        }
    }
}

pre {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #f5f5f5;
    padding: 8px;
    padding-left: 32px;
    padding-top: 10px;
    position: relative;

    &:before {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 24px;
        background-color: #e5e5e5;
    }
}

a {
    &,
    &:focus,
    &:active {
        color: #f9a6c2;
    }

    &:hover {
        color: #f2739f;
    }
}

footer {
    background-color: #333;
    color: #f5f5f5;
    position: absolute;
    padding: 16px 8px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    p {
        margin: 0;
    }
}

.instance,
.info {
    h4 {
        font-size: 20px;
        margin: 0;
    }

    .instance-info {
        padding: 24px;
        padding-bottom: 36px;
        border-top: 1px solid #e5e5e5;
        background-color: #f5f5f5;

        .instance-description {
            margin: 0;
            margin-bottom: 24px;
        }
        .instance-admin {
            margin: 24px 0;
        }

        .description .please-stay {
            h3 {
                padding: 0;
                margin: 0;
                border-bottom: none;
            }
            ul {
                list-style: disc;
                padding-left: 24px;

                li {
                    padding: 0;
                }
            }
            article section {
              border-bottom: none;
            }
        }
    }

    a {
        text-decoration: none;
    }
}

.admin {
    margin-top: 32px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);

    .display-name {
        font-weight: 600;
        font-size: 16px;
        margin: 0;
    }

    .username {
        font-size: 14px;
        color: #777;
        margin: 0;
        margin-top: 8px;
    }
}

.avatar {
    width: 80px;
    height: 80px;

    img {
        width: 100%;
        border-radius: 40px;
        border: 1px solid #333;
        background-color: #f5f5f5;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    }
}

@media(max-width: 700px) {
    header .header-text {
        padding: 24px;
    }

    article {
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
}

@media(max-width: 500px) {
    .avatar {
        width: 60px;
        height: 60px;
        margin: 16px 24px;

        img {
            border-radius: 30px;
        }
    }
}

@media(max-width: 400px) {
    .avatar {
        width: 50px;
        height: 50px;
        margin: 16px 20px;

        img {
            border-radius: 25px;
        }
    }
}

@media(max-width: 360px) {
    .admin {
        flex-direction: column;
    }

    .right {
        margin: 16px;
        margin-top: 0;
    }
}
