@use crate::data::Contact;
@use activitystreams_new::url::Url;

@(contact: &Contact, base: &Url)

<div class="admin">
    <div class="left">
        <figure class="avatar">
            <img src="@contact.avatar" alt="@contact.display_name's avatar">
        </figure>
    </div>
    <div class="right">
        <p class="display-name"><a href="@contact.url">@contact.display_name</a></p>
        @if let Some(domain) = base.domain() {
            <p class="username">@@@contact.username@@@domain</p>
        } else {
            <p class="username">@@@contact.username</p>
        }
    </div>
</div>
