@use crate::db::Contact;
@use activitystreams::url::Url;

@(contact: &Contact, base: &Url)

<div class="admin">
    <div class="left">
        <figure class="avatar">
            <img src="@contact.avatar" alt="@contact.display_name's avatar">
        </figure>
    </div>
    <div class="right">
        <p class="display-name"><a href="@contact.url">@contact.display_name</a></p>
        <p class="username">
          @@@contact.username@if let Some(domain) = base.domain() {@@@domain}
        </p>
    </div>
</div>
